*{
    margin: 0;
    padding: 0;
}

body {
    color: rgb(28, 28, 30);
    font-family: 'Sansita Swashed', cursive;
}


#meContainer {
  position: fixed;
  text-align: center;
  top: 1%;
  left: 1%;
  width: 24%;
  height: 45%;
  border: 1px solid black;
}

#me {
  object-fit: contain;
  margin-top: 10%;
  height: 70%;
  width: 50%;
  border-radius: 17%;
}


#greetingsContainer {
  position: fixed;
  top: 1%;
  left: 25%;
  width: 24%;
  height: 10%;
  border: 1px solid black; 
}


#introContainer {
  position: fixed;
  top: 11%;
  left: 25%;
  width: 24%;
  height: 35%;
  border: 1px solid black;
}


#projectsContainer {
  position: fixed;
  top: 46%;
  left: 1%;
  width: 48%;
  height: 44%;
  border: 1px solid black;
}


#aboutMeContainer {
  position: fixed;
  top: 1%;
  left: 49%;
  width: 32%;
  height: 89%;
  border: 1px solid black;
}


#socialsContainer {
  position: fixed;
  top: 1%;
  left: 81%;
  width: 18%;
  height: 89%; 
  border: 1px solid black;
}