*{
    margin: 0;
    padding: 0;
}

body {
    color: rgb(28, 28, 30);
    font-family: 'Sansita Swashed', cursive;
}


#meContainer {
  position: absolute;
  text-align: center;
  top: 1%;
  left: 1%;
  width: 24%;
  height: 45%;
}

#me {
  object-fit: contain;
  margin-top: 7%;
  margin-left: 45%;
  height: 70%;
  width: 50%;
  border-radius: 17%;
}


#greetingsContainer {
  position: absolute;
  top: 1%;
  left: 25%;
  width: 24%;
  height: 10%;
}

#hello {
  position: absolute;
  bottom: 30%;
}

#name {
  position: absolute;
  bottom: 0%;
}


#introContainer {
  position: absolute;
  top: 11%;
  left: 25%;
  width: 24%;
  height: 35%;
}

#intro {
  top: 5%;
  position: absolute;
}


#projectsContainer {
  position: absolute;
  top: 46%;
  left: 1%;
  width: 48%;
  height: 44%;
}

#title_p{
  font-size: 24px;
  text-align: center;
}


#aboutMeContainer {
  position: absolute;
  top: 1%;
  left: 49%;
  width: 32%;
  height: 89%;
}

#title_ab{
  font-size: 24px;
  text-align: center;
}

#socialsContainer {
  position: absolute;
  top: 1%;
  left: 87%;
  width: 12%;
  height: 89%;
  font-size: 15px;
  overflow: hidden;
}

#title_soc{
  font-size: 24px;
  text-align: center;
}

#github {
  position: relative;
  height: auto;
  text-align: center;
}

#gh_fig > a > img {
  width: 30%;
  height: 15%;
  margin-top: 10px;
  /*margin-left: 35%;*/
}


#discord {
  position: relative;
  text-align: center;
  height: auto;
}

#discord_fig > a > img {
  width: 30%;
  height: auto;
  margin-top: 10px;
  /*margin-left: 35%;*/
}


#email {
  position: relative;
  text-align: center;
  height: auto;
}


#email_fig > a > img {
  width: 30%;
  height: 15%;
  margin-top: 10px;
  /*margin-left: 35%;*/
}

#email_fig > figcaption {
  font-size: 12px;
}
