* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(28, 28, 30);
}

.title{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

#greeting_C {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 22%;
  left: 40%;
  width: 355px;
  height: 120px;
}

#greeting {
  position: absolute;
  z-index: 1;
  font-size: 2.5em;
  left: 0%;
  /*font-family: Helvetica;*/
  font-family: 'Ubuntu', sans-serif;
  /*color: #02203C;*/
}

#name {
  position: absolute;
  z-index: 1;
  font-size: 1.25em;
  /*font-family: Helvetica;*/
  top: 40%;
  left: 0%;
}

#mainIcons {
  position: absolute;
  bottom: 0%;
  left: 26%;
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
  list-style: none;
  position: relative;
  z-index: 1;
  padding: 0 4px 0 4px;
}

ul > li > a > img {
  width: 1.6vw;
  cursor: pointer;
}

#mainIcons > li > a > img {
  width: 35px;
}

ul > li > a > img:hover {
  transform: scale(1.25);
}

#meContainer {
  position: absolute;
  z-index: 1;
  top: 17%;
  left: 19%;
}

#me {
  /*border: 1px solid #6715a5;*/
  border-radius: 10%;
  width: 15vw;
}